@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark;
}

:root {
  --background-start:#ffffff;
  --background-end:#ffffff;
  --secondary-background:#030712;
  --text-color:#ffffff;
  --text-color-primary:#1F2937;
}

[data-theme="dark"] {
  --background-start:#030712; 
  --background-end:#090c1d;
  --secondary-background:#ffffff;
  --text-color:#1F2937;
  --text-color-primary:#ffffff;
}
html {
  scroll-behavior: smooth;
}