@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark;
}

:root {
  --background-start: #ffffff;
  --background-end: #ffffff;
  --text-color:#f57c00;
}

[data-theme="dark"] {
  --background-start: #030712; 
  --background-end: #090c1d;
}